/******************/
/* CSS HOMEPAGINA */
/******************/




/****************/
/*     MAIN     */
/****************/

/* section definitely maybe */
main section:nth-of-type(1) {
	text-align: center;
}

main section:nth-of-type(1) h1{
	font-size: 1.7em;
	margin-bottom: 1em;
}

main section:nth-of-type(1) h2 {
	font-size: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(1) p {
	font-size: 1em;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 90%;
}

main section:nth-of-type(1) img {
	width: 100%;
	height: auto;
	margin-top: 2em;
}

main section:nth-of-type(1) video {
    width: 100%;
	height: auto;
	margin-top: 1em;
}

main section:nth-of-type(1) a{
	background-color: black;
	padding: .4em;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	border: .2em solid white;
	outline: .1em solid black;
}

main section:nth-of-type(1) li a {
	text-decoration: none;
	list-style: none;
}




/* section trending now */

main section:nth-of-type(2) {
	text-align: center;
}

main section:nth-of-type(2) ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

main section:nth-of-type(2) ul li {
	display: flex;
	flex-direction: column;
}


main section:nth-of-type(2) h2 {
	text-align: center;
}

main section:nth-of-type(2) h3 {
	display: flex;
	order: 1;
	text-align: center;
	width: 20em;

}

main section:nth-of-type(2) p {
	text-align: center;
}


main section:nth-of-type(2) a {
	text-align: center;
	color: black;
}

main section:nth-of-type(2) a:nth-of-type(2) {
	text-align: center;
	background-color: black;
    padding: .4em;
    text-decoration: none;
    color: white;
    border: .2em solid white;
    outline: .1em solid black;
	width: 5em;
}


main section:nth-of-type(2) img {
	width: 20em;
}




/* section Oasis live '25 */

main section:nth-of-type(3){
	text-align: center;
}

main section:nth-of-type(3) ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

}

main section:nth-of-type(3) h2 {
	text-align: center;
}

main section:nth-of-type(3) h3 {
	text-align: center;

}

main section:nth-of-type(3) p {
	text-align: center;
}

main section:nth-of-type(3) a {
	text-align: center;
	color: black;
}

main section:nth-of-type(3) img {
	width: 100%;
	height: auto;
}

main section:nth-of-type(3) video {
	width: 100%;
    height: auto;
	margin-top: 2em;
}























/****************/
/*    MEDIA     */
/****************/

@media (min-width:38em) {
	header > button {
	  position:absolute;
	  left:-9999em;
	  
	}
	header nav {
		display: flex;
		position:static;
		translate:unset;
		padding:0;
		background:none;
	  }
	  
	  header nav button {
		position:absolute;
		left:-9999em;
		
	  }
	  
	  nav ul {
		display:flex;
		gap:.5em;
		
	  }

	  
	  
	  nav a {
		border: none;
		flex-direction: column;
		
	  }
	  header > a:last-of-type {
		flex-direction:column;
		
	  }
	}
	
	@media (min-width:57em) {
		header > a:last-of-type,
		nav a {
		  flex-direction:row;
		  
		}

		main section:nth-of-type(1) img {
			width: 40em;
			height: auto;
			margin-top: 2em;
		}
		
		main section:nth-of-type(1) video {
			width: 40em;
			height: auto;
			margin-top: 1em;
		}

	  }
	
	