/****************/
/* CSS RELEASES */
/****************/


/************/
/*   MAIN   /*
/***********/

/* muziek categoriën */
main section:nth-of-type(2) input[type="button"]{
	background-color: white;
	border: .2em solid black;
	padding: .2em;
	margin: .3em;
}

/* Albums */
main section:nth-of-type(3){
	text-align: start;
}
main section:nth-of-type(3) ul{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   list-style: none;
}


main section:nth-of-type(3) img{
	width: 22em;
}

































/****************/
/*    MEDIA     */
/****************/

@media (min-width:38em) {
	header > button {
	  position:absolute;
	  left:-9999em;
	  
	}
	header nav {
		display: flex;
		position:static;
		translate:unset;
		padding:0;
		background:none;
	  }
	  
	  header nav button {
		position:absolute;
		left:-9999em;
		
	  }
	  
	  nav ul {
		display:flex;
		gap:.5em;
		
	  }

	  
	  
	  nav a {
		border: none;
		flex-direction: column;
		
	  }
	  header > a:last-of-type {
		flex-direction:column;
		
	  }
	}
	
	@media (min-width:57em) {
		header > a:last-of-type,
		nav a {
		  flex-direction:row;
		  
		}
		main section:nth-of-type(3) ul{
			flex-direction: row;
			gap: 2em;
		}

		main section:nth-of-type(3) img{
			width: 18em;
		}

		main section:nth-of-type(3) h2{
			font-size: 1em;
		}
	  }
	
	

