/******************/
/* CSS HOMEPAGINA */
/******************/




/****************/
/*     MAIN     */
/****************/

/* section definitely maybe */
main section:nth-of-type(1) {
	text-align: center;
	align-items: center;
}

main section:nth-of-type(1) h1{
	font-size: 1.7em;
	margin-top: 2em;
	margin-bottom: 1em;
}

main section:nth-of-type(1) h2 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

main section:nth-of-type(1) h2:nth-of-type(2) {
	font-size: 1.4em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

main section:nth-of-type(1) p {
	font-size: 1.2em;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 90%;
	margin-top: 2em;
}

main section:nth-of-type(1) img {
	max-width: 100%;
	height: auto;
	margin-top: 3em;
}

main section:nth-of-type(1) video {
    width: 100%;
	height: auto;
	margin-top: 1em;
}

main section:nth-of-type(1) a{
	background-color: black;
	padding: .4em;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	border: .2em solid white;
	outline: .2em solid black;
}

main section:nth-of-type(1) li a {
	text-decoration: none;
	list-style: none;
}

main article{
	text-align: center;
	font-size: medium;
	margin-top: 2em;
	margin-bottom: 4em;
}

video {
	width: 100%;
	height: auto;
	margin-top: 2em;
}







/* section trending now */

main section:nth-of-type(2) {
	text-align: center;
}

main section:nth-of-type(2) ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	
}

main section:nth-of-type(2) ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3em;
}

main section:nth-of-type(2) h2 {
	text-align: center;
}

main section:nth-of-type(2) h3 {
	display: flex;
	order: 1;
	text-align: center;
	width: 20em;
	font-weight: normal;
}

main section:nth-of-type(2) p {
	text-align: center;
}


main section:nth-of-type(2) a {
	text-align: center;
	color: black;
}

main section:nth-of-type(2) a:nth-of-type(2) {
	text-align: center;
	background-color: black;
    padding: .4em;
    text-decoration: none;
    color: white;
    border: .2em solid white;
    outline: .1em solid black;
	width: 5em;
	order: 3;
}


main section:nth-of-type(2) img {
	width: 20em;
}









/* section Oasis live '25 */

main section:nth-of-type(3){
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

main section:nth-of-type(3) ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

}

main section:nth-of-type(3) h2 {
	text-align: center;
}

main section:nth-of-type(3) h3 {
	text-align: center;

}

main section:nth-of-type(3) p {
	text-align: center;
}

main section:nth-of-type(3) a {
	text-align: center;
	color: black;
}

main section:nth-of-type(3) img {
	width: 100%;
	height: auto;
}

main section:nth-of-type(3) video {
	width: 100%;
    height: auto;
	margin-top: 2em;
}























/****************/
/*    MEDIA     */
/****************/
	
	@media (min-width:60em) {

		main section:first-of-type{
			display: flex;
		}

		main section:first-of-type{
			display: flex;
		}
		main section:first-of-type section:only-of-type{
			flex-direction: column;
			   }
		main section:first-of-type section:only-of-type h1, h2, p {
			text-align: left;
			   }
		main section:first-of-type section:only-of-type p {
			text-align: left;
			   }


		main section:nth-of-type(1) {
			text-align: center;
			align-items: center;
		}

		main section:nth-of-type(1) p {
			text-align: center;
			max-width: 50em;
		}


		main section:nth-of-type(1) img {
			max-width: 70%;
			height: auto;
		}
		
		main section:nth-of-type(1) video {
			max-width: 50%;
			height: auto;
			margin-top: 1em;
			margin: 4em;
			margin-left: 19em;
            margin-right: 19em;
		}

		main article{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: x-large;
			margin-top: 2em;
			margin-bottom: 4em;
		}

		main video {
			width: 50%;
            height: auto;
            margin-top: 2em;
		}

		main section:nth-of-type(2) ul {
			display: flex;
			gap: 2em;
			justify-content: center;
		}

		main section:nth-of-type(3) p {
			text-align: center;
			max-width: 35em;
			font-size: larger;
		}

		main section:nth-of-type(3) img {
			width: 50%;
			height: auto;
		}
		
		main section:nth-of-type(3) video {
			width: 50%;
			height: auto;
			margin-top: 2em;
		}
		
		@media (min-width:80em) {
		
			main section:first-of-type{
				display: flex;
				font-size: large;
			}

			main section:first-of-type section:only-of-type{
				flex-direction: column;
				   }
			main section:first-of-type section:only-of-type h1, h2, p {
				text-align: left;
				   }
			main section:first-of-type section:only-of-type p {
				text-align: left;
				   }
			main section:nth-of-type(1) img {
				max-width: 90%;
				height: auto;
				
			}
	}	

	  }
	
	